<!-- Custom imports -->
<link rel="stylesheet" href="../static/styles.min.css">
<script src="../static/polyfills.js"></script>

<!-- Custom style for this frame -->
<style>
    html, body {
        /* Safari on iOS... */
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }
</style>

<!-- Main section -->
<section>
    <h1 class="mui--text-title">Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in felis non
        nibh suscipit suscipit. In sit amet sapien ut justo efficitur faucibus
        iaculis non tortor. In ullamcorper viverra lacinia. In a felis non augue
        accumsan finibus. Phasellus id orci aliquam enim dapibus fringilla
        scelerisque id purus. Pellentesque lacinia, libero non fermentum finibus,
        sem sem fringilla velit, vitae rhoncus massa nisl eget ipsum. Integer id
        ligula ac augue maximus commodo. Morbi eu nisi faucibus, ornare ipsum sed,
        feugiat magna. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Quisque quis mi at libero euismod
        laoreet. Mauris tristique elementum magna quis vehicula. Cras at feugiat
        sapien, et semper dui. Sed quis augue nec justo efficitur congue. Aliquam ex
        neque, sagittis eget rhoncus non, feugiat eu nisl.
    </p>
</section>
