<!-- Footer -->
<footer>
    <span>©{{year}} {{name}}</span>
    <!--
    <span class="mdc-theme--primary"><a href="/about.html">About</a></span>
    <span class="mdc-theme--primary"><a href="/tos.html">Terms of service</a></span>
    -->
</footer>