<script src="analytics.tpl.html" data-include></script>

<header class="xs flex">
    <div class="header-row flex">
        <div class="left flex-item container">
            <a class="l48" role="button" on="tap:sidebar.open">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <div class="middle flex-1 container">
            <div class="flex">
                <amp-img layout="fixed" class="hide-xs" srcset="static/logo-64.png" width="48" height="48" alt="logo"></amp-img>
                <a href="/" class="mui--text-headline l48">{{name}}</a>
            </div>
        </div>
        <div class="right flex-item container">
        </div>
    </div>
</header>