<amp-sidebar id="sidebar"
    layout="nodisplay"
    side="left">
    <a class="close-button button" role="button" on="tap:sidebar.close">
        <i class="material-icons" aria-hidden="true">close</i>
    </a>
    <ul>
        <li>
            <a href="index.html" class="aligned">
                <i class="material-icons" aria-hidden="true">home</i>
                <span>{{name}}</span>
            </a>
        </li>
        <li>
            <a href="iframe.html">
                Iframe
            </a>
        </li>
        <li>
            <a href="about.html">
                About
            </a>
        </li>
        <li> 
            <a href="mailto:{{email}}">
                Contact
            </a>
        </li>
    </ul>
</amp-sidebar>