:root {
    --theme-accent: {{theme-accent}};
    --theme-primary: {{theme-primary}};
    --theme-background: {{theme-background}};
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

html, body, main, section {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: var(--theme-background, #FCFCFC);
    color: var(--theme-text-on-background, #000000);
    -webkit-overflow-scrolling: touch;
    font-size: 16px;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: var(--theme-background, #FCFCFC);
    color: var(--theme-text-on-background, #000000);
    font-size: 16px;
    flex: 1;
}

b, h1, h2, h3 {
    color: var(--theme-primary, #82A8E5);
}

.mui-btn--primary,
.mui-btn--primary:hover {
    background-color: var(--theme-primary, #82A8E5)
}

.colored,
.mui-btn--flat,
.mui-form legend.colored,
.mui-btn--primary.mui-btn--flat,
.mui-btn--primary.mui-btn--flat:hover {
    color: var(--theme-primary, #82A8E5)
}

.mui-btn--accent,
.mui-btn--accent:hover {
    background-color: var(--theme-accent, #DD4444)
}

.mui-btn--accent.mui-btn--flat,
.mui-btn--accent.mui-btn--flat:hover {
    color: var(--theme-accent, #DD4444);
}

.mui--text-accent,
.mui-btn--accent,
.mui-btn--accent:hover {
    color: var(--theme-accent, #DD4444);
}


/******************/
/*     Header     */
/******************/

header {
    top: 0;
    height: 48px;
    position: relative;
    padding: 8px 96px;
    width: calc(100% - 192px);
    background-color: var(--theme-background, #FCFCFC);
    /*background-image: url('static/header-bg.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--theme-primary, black);
    vertical-align: top;
}

@media (max-width: 840px) {
    header {
        padding: 8px 48px;
        width: calc(100% - 96px);
}}
@media (max-width: 480px) {
    header {
        padding: 8px 16px;
        width: calc(100% - 32px);
}}

header.flex {
    flex-direction: column;
}

header .header-row {
    flex: 1;
    width: 100%;
}

header a, header span, header i {
    line-height: 48px;
}

header.colored {
    color: var(--theme-text-color, black);
    background-color: var(--theme-primary, #82A8E5);
}

header.md {
    height: 96px;
}

header.xl {
    height: 128px;
}

header.xs + main {
    min-height: calc(100% - 24px - 64px);
}

header.md + main {
    min-height: calc(100% - 24px - 96px);
}

header.xl + main {
    min-height: calc(100% - 24px - 128px);
}

header .middle {
    text-align: center;
}

header .left, header .right, header .middle {
    height: 100%;
    min-height: 100%;
}

header a {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

header amp-img {
    margin-right: 4px;
    margin-left: -32px;
    margin-bottom: 6px;
    display: inline-block;
}

header i.material-icons {
    font-size: 24px;
    line-height: 48px;
}


/********************/
/*       Main       */
/********************/

main {
    position: relative;
    width: calc(100% - 196px);
    flex: 1;
    align-items: stretch;
    /*padding-bottom: 72px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

main section {
    margin-left: auto;
    margin-right: auto;
}

main section.padded {
    width: calc(100% - 256px);
}

@media (max-width: 840px) {
    main {
        width: calc(100% - 96px);
    }
    main section.padded {
        width: calc(100% - 128px);
}}
@media (max-width: 480px) {
    main {
        width: calc(100% - 32px);
    }
    main section.padded {
        width: calc(100% - 32px);
}}

section h1 {
    text-align: center;
    text-transform: uppercase;
}

section p {
    text-align: justify;
}


/*********************/
/*      Modals       */
/*********************/

amp-lightbox {
    background: rgba(0,0,0,0.8);
}

amp-lightbox .lightbox {
    height: 100%;
    display: flex;
    position: absolute;
}


/*********************/
/*     Fixed H/W     */
/*********************/

.l32, header .l32, .l32 a, .l32 i, .l32 span {
    line-height: 32px;
}

.l48, header .l48, .l48 a, .l48 i, .l48 span {
    line-height: 48px;
}

.w256 {
    width: 256px;
}

.mh192 {
    min-height: 192px;
}


/**********************/
/*       Footer      */
/**********************/

footer {
    position: relative;
    width: calc(100% - 32px);
    height: 64px;
    margin-bottom: 0;
    background-color: var(--theme-background, #EEEEEE);
    display: inline-flex;
    justify-content: space-between;
    padding: 0 16px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
}

footer span {
    min-width: 25%;
    text-align: center;
    display: inline-block;
    line-height: 64px;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

button.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FCFCFC;
    font-size: larger;
}

/* Flip-flopping classes */
.tall--only {
    display: none;
}

.tall .tall--only {
    display: inherit;
}

.tall .tall--not {
    display: none;
}


/*********************/
/*      Sidebar      */
/*********************/

amp-sidebar {
    width: 256px;
}

amp-sidebar .close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

amp-sidebar ul {
    width: calc(100% - 72px);
    margin-top: 56px;
    padding-left: 48px;
    padding-right: 24px;
}

amp-sidebar li {
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    line-height: 24px;
}

amp-sidebar li a:hover {
    background: rgba(0,0,0,.1);
}

amp-sidebar li a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: justify;
}

amp-sidebar li a:hover {
    text-decoration: none;
}

amp-sidebar li a.aligned {
    margin-left: -28px;
}

amp-sidebar li a.aligned span {
    vertical-align: top;
}

amp-sidebar li a.aligned i, amp-sidebar li a.aligned amp-img, amp-sidebar li a.aligned amp-img {
    vertical-align: text-bottom;
    display: inline-block;
}


/*********************/
/*  General Purpose  */
/*********************/

amp-img.contain img, img.contain {
    object-fit: contain;
}

amp-img.cover img, img.cover {
    object-fit: cover;
    object-position: 50% 50%;
}

a.button {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
}

.solidbg {
    background-color: var(--theme-background, #FCFCFC);
}

.top {
    top: 0;
    position: absolute;
}

.bottom {
    bottom: 0;
    position: absolute;
}

.container {
    display: block;
    position: relative;
}

.shaded {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.flex {
    display: flex;
    align-items: stretch;
    justify-content: center
}

.flex-1 {
    flex: 1;
}

.clickable {
    cursor: pointer;
}

.invisible, .invisible:hover, .invisible:active {
    color: transparent;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.centered {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.vcentered {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nopadding {
    padding: 0;
}
.xspadding {
    padding: 8px;
}
.mdpadding {
    padding: 16px;
}
.xlpadding {
    padding: 32px;
}

.nomargin {
    margin: 0;
}
.xsmargin {
    margin: 8px;
}
.mdmargin {
    margin: 16px;
}
.xlmargin {
    margin: 32px;
}

@media (max-width: 840px) {
    .xspadding {
        padding: 4px;
    }
    .mdpadding {
        padding: 12px;
    }
    .xlpadding {
        padding: 24px;
    }
    .xsmargin {
        margin: 4px;
    }
    .mdmargin {
        margin: 12px;
    }
    .xlmargin {
        margin: 24px;
}}
@media (max-width: 480px) {
    .xspadding {
        padding: 4px;
    }
    .mdpadding {
        padding: 8px;
    }
    .xlpadding {
        padding: 16px;
    }
    .xsmargin {
        margin: 4px;
    }
    .mdmargin {
        margin: 8px;
    }
    .xlmargin {
        margin: 16px;
}}

.thin {
    font-weight: 300;
}

.fullwidth {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.spacer {
    padding-top: 16px;
}

@media (max-width: 350px) {
    .hide-xs {
        display: none;
}}
