<!DOCTYPE html>
<html amp>
    <script src="templates/head.tpl.html" data-include></script>

    <body>
        <script src="templates/sidebar.tpl.html" data-include></script>
        <script src="templates/header.tpl.html" data-include></script>

        <main>

            <!-- Main section -->
            <section class="padded">

                <h1 class="mui--text-title">About</h1>
                <p>
                    {{name}} is all about {{description}}.
                </p>

            </section>

        </main>

        <script src="templates/footer.tpl.html" data-include></script>
    </body>
</html>