<!DOCTYPE html>
<html amp>
    <script src="templates/head.tpl.html" data-include></script>

    <body>
        <script src="templates/sidebar.tpl.html" data-include></script>
        <script src="templates/header.tpl.html" data-include></script>

        <main>

            <!-- Main section -->
            <section class="padded">

                <h1 class="mui--text-title">{{name}}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in felis non
                    nibh suscipit suscipit. In sit amet sapien ut justo efficitur faucibus
                    iaculis non tortor. In ullamcorper viverra lacinia. In a felis non augue
                    accumsan finibus. Phasellus id orci aliquam enim dapibus fringilla
                    scelerisque id purus. Pellentesque lacinia, libero non fermentum finibus,
                    sem sem fringilla velit, vitae rhoncus massa nisl eget ipsum. Integer id
                    ligula ac augue maximus commodo. Morbi eu nisi faucibus, ornare ipsum sed,
                    feugiat magna. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. Quisque quis mi at libero euismod
                    laoreet. Mauris tristique elementum magna quis vehicula. Cras at feugiat
                    sapien, et semper dui. Sed quis augue nec justo efficitur congue. Aliquam ex
                    neque, sagittis eget rhoncus non, feugiat eu nisl.
                </p>

            </section>

        </main>

        <script src="templates/footer.tpl.html" data-include></script>
    </body>
</html>